/* reset & default settings */
:root {
  --primary-main: rgb(12, 13, 14);
  --primary-background: rgb(255, 255, 255);
  --secondary-main: rgb(27, 117, 208);
  --dark-green: rgb(24, 134, 75);
  --dark-gray: rgb(99, 107, 116);
  --dark-red: rgb(227, 0, 0);
}

*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-main);
  font-size: 1.2rem;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

#root {
  position: relative;
  min-height: 100vh;
}
