/* reset & default settings */
:root {
  --primary-main: rgb(12, 13, 14);
  --primary-background: rgb(250, 250, 250);
}

*,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--primary-background);
  color: var(--primary-main);
  font-size: 1.2rem;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

#root {
  position: relative;
  min-height: 100vh;
}
